@charset "UTF-8";

/* 
    "Tudo que em HTML é ID = em CSS é #" 

    "Tudo que em HTML é Class = em CSS é ."
*/

body {
    background-color: rgb(149, 192, 152);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
}

.principal {
    text-align: center;
    background-color: black;
    color: rgb(239, 239, 239);
}

h2 {
    color: rgb(32, 79, 35);
}

.basico {
    color: rgb(90, 251, 90);
    font-weight: bold;
}

.intermediario {
    color: yellow;
    font-weight: bold;

}

.avancado {
    color: red;
    font-weight: bold;

}